/* 页面 */
.page {
    width: 100vw;
    height: 100vh;
    background: var(--page-bg);
    overflow: hidden;
}

/* 横向滚动容器 */
.scroll-container {
    transform-origin: left top;
    transform: translateY(100vh) rotateZ(-90deg);
    width: 100vh;
    height: 100vw;
    overflow-y: auto;
    overflow-x: auto;
}

/* 横向滚动容器的滚动条 */
.scroll-container::-webkit-scrollbar {
    width: 0;
}

/* 图片容器 */
.img-container {
    transform-origin: left top;
    transform: translateX(100vh) rotateZ(90deg);
    height: 100vh;
    width: auto;
    min-width: 100vw;
}

/* 该层 div 用于保证 flex 布局下内容的完全显示 */
/* 实现图片横向排列 */
.img-container>div {
    width: 100%;
    height: 100%;
    min-width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* 图片盒子 */
/* flex-shrink: 0; 在 flex 布局下，元素不挤压不变形 */
/* 实现图片垂直居中 */
.img-box {
    flex-shrink: 0;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: var(--img-box-grid-template-rows);
    align-items: end;
}

/* 图片 */
.img {
    grid-row: 1 / 2;
    box-sizing: border-box;
    height: var(--img-max-h);
    max-width: var(--img-max-w);
    max-height: var(--img-max-h);
    padding: var(--img-p) var(--img-p) 0;
    display: flex;
    align-items: end;
    transition: .5s ease-in-out;
}

.img img {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: var(--img-border-radius);
    box-shadow: 0px 0px 10px #fffc;
    -webkit-box-reflect: var(--img-webkit-box-reflect);
}

/********************  ********************/
@media screen and (max-width: 500px) {

    /* 图片 */
    .img {
        width: 100vw;
    }
}